{% extends "main.html" %}
{% block content %}

<div class="main" style="background-color:white;">
    <div style="width:100%; padding:0.5em;margin-top:1px; ">


    <div class="w3-container w3-row-padding" style="margin-bottom:1px; padding-top:10px; ">

        <div class="w3-col" style="width:3em;padding-right:4em; padding-top:6px; " >
      <img src="img/crest.jpg" alt="Aki" class="w3-left  w3-margin-right" style="width:40px">
            </div>
        <div class="w3-rest" style="width:90%; ">
            <span class="nav w3-small"><b><a href="/userPage?username={{queryUser.username}}">{{queryUser.username}}</a></b></span><span class="w3-right"><a href="/userPage?user_following={{queryUser.username}}" class="w3-button nav w3-blue w3-small">{{followStatus}}</a></span></br>
        <span class="nav w3-small w3-text-white">{{queryUser.user_info}}</span>

        </div>
    </div>

    </div>


     <div class="back-color" style="width:100%; padding:0.5em;margin-top:10px;">
      <div></div>
    {% for i in queryTweet %}

    <div class="w3-container w3-row-padding " style="margin-bottom:1px; padding-top:10px; ">

        <div class="w3-col" style="width:3em;padding-right:4em; padding-top:6px; " >
      <img src="img/messi.jpg" alt="Aki" class="w3-left w3-margin-right" style="width:40px">
            </div>
        <div class="w3-rest" style="width:90%; padding-bottom:1em;">
            <span class="nav w3-small w3-text-white">{{i}}</span></br>
        <span class="nav w3-small w3-text-white">{{k}}</span>

        </div>

    </div>

         {% endfor %}


  </div>

</div>
{% endblock %}
